<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include bootstrap CSS-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        div.utterance {
            border: 2px solid red;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .speaker {
            font-weight: bold;
        }
        
        .dialogue {
            font-size: 12pt;
        }
        
        .utterance-user {
            text-align: right;
            margin-left: 100px;
        }
        
        .utterance-system {
            text-align: left;
            margin-right: 100px;
        }
        
        .speaker {
            max-width: 100%;
            text-overflow: wrap;
        }
        
        .speaker-user {
            text-align: right;
        }
        
        .speaker-system {
            text-align: left;
        }
        
        label {
            color: purple;
        }
        
        tr {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        table {
            width: 80%;
            margin: auto auto;
            margin-bottom: 30px;
        }
        
        nav {
            background-color: antiquewhite;
        }
        
        .slot-label {
            color: black;
        }
    </style>

    {% if dialogue_idx == 0 %}
    <style>
        .focused-turn {
            background-color: yellow;
        }
    </style>
    {% endif %}

    <script>
        const bounds = {}
        const turnsTimeSeries = []

        const closestTurn = (bounds, gazeX, gazeY) => {
            let closest = null;
            let closestDist = null;
            for (const [i, bound] of Object.entries(bounds)) {
                const dist = Math.hypot(gazeX - (bound.left + bound.right) / 2, gazeY - (bound.top + bound.bottom) / 2);
                // console.log("Distance with " + i + " is " + dist)
                if (closestDist == null || dist < closestDist) {
                    closest = i;
                    closestDist = dist;
                }
            }
            // console.log("closest turn: " + closest + "; least distance: " + closestDist)
            return closest;
        }

        $(document).ready(function() {
            $("div.utterance").each((index, element) => {
                bounds[index] = {
                        top: $(element).offset().top + window.screenY,
                        bottom: $(element).offset().top + window.screenY + $(element).height(),
                        left: $(element).offset().left + window.screenX,
                        right: $(element).offset().left + window.screenX + $(element).width()
                    }
                    // $(element).siblings(".speaker").html(index + "");
            })
            setInterval(function() {
                $.ajax({
                    type: "POST",
                    url: "/latest_gaze_coords",
                    success: function(response) {
                        let gazeX = response.coords.x;
                        let gazeY = response.coords.y;
                        // let turn = 0
                        // let gazeX = (bounds[turn].left + bounds[turn].right) / 2;
                        // let gazeY = (bounds[turn].top + bounds[turn].bottom) / 2;
                        let closestTurnIdx = closestTurn(bounds, gazeX, gazeY);
                        turnsTimeSeries.push({
                            turn: closestTurnIdx,
                            time: new Date().getTime(),
                        });

                        $("div.utterance").each((index, element) => {
                            if (index == closestTurnIdx) {
                                $(element).addClass("focused-turn");
                            } else {
                                $(element).removeClass("focused-turn");
                            }
                        })
                        let data = {
                                "closestTurn": closestTurnIdx,
                                "timestamp": new Date().getTime()
                            }
                            // console.log(data)
                            // $.ajax({
                            //     type: "POST",
                            //     url: "/telemetry",
                            //     data: data,
                            //     success: function(response) {
                            //         // console.log(response)
                            //     }
                            // })
                    }
                })
            }, 100)

            $("#submit").click(function(e) {
                e.preventDefault()
                let data = {
                    "turnsTimeSeries": turnsTimeSeries,
                    "timestamp": new Date().getTime()
                }
                $.ajax({
                    type: "POST",
                    url: "/submit",
                    data: data,
                    success: function(response) {
                        location.reload()
                    }
                })
            })
        })
    </script>

    <title>Annotate Dialogues</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Annotate Dialogue</span>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dialogue">
                            <table>
                                {% for turn in dialogue.turns %}
                                <tr>
                                    <td class="left-td">
                                        {% if turn.speaker == "system" %}
                                        <div class="speaker speaker-{{turn.speaker}}">{{ turn.speaker.title() }} ({{ loop.index0 }})</div>
                                        <div id="turn-{{loop.index0}}" class="utterance utterance-{{turn.speaker}}">{{ turn.text }}
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="right-td">
                                        {% if turn.speaker == "user" %}
                                        <div class="speaker speaker-{{turn.speaker}}">{{ turn.speaker.title() }} ({{ loop.index0 }})</div>
                                        <div id="turn-{{loop.index0}}" class="utterance utterance-{{turn.speaker}}">{{ turn.text }}
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2" style="margin-right: 29px; float: right;">
                <form>
                    {% for slot in slots %}
                    <div class="form-group">
                        <label class="slot-label" for="{{ slot.slot_name }} ">
                            {{ MULTIWOZ_PRETTY_SLOTS.get(slot.domain, {}).get(slot.slot_name, slot.slot_name) if slot.dataset == 'MULTIWOZ' else STAR_PRETTY_SLOTS.get(slot.domain, {}).get(slot.slot_name, slot.slot_name) }}
                        </label>
                        <input id="{{ slot.slot_name }} " name="{{ slot.slot_name }} " type="text " class="form-control " placeholder="dontcare " />
                    </div>
                    {% endfor %}
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>