<html>

<head>
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type='text/css'>
        form {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-md-4">
            <h2>Welcome to the study!</h2>
            <div class="form-group">
                <form class="form" method="post">
                    <label for="name">Enter your name:</label>
                    <input class="form-control" type="text" id="name" name="name" required /><br />
                    <label for="email">Enter your email address:</label>
                    <input class="form-control" type="email" id="email" name="email_address" required /> <br />
                    <label for="calibration_score">What was your calibration score? (1-5)</label>
                    <input class="form-control" type="number" id="calibration_score" name="calibration_score" required /> <br />
                    <button class="btn btn-primary form-control" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>